.App {
  text-align: center;
}

.button {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #F4CE14;
  font-weight: bold;
}

.reserve-text {
  text-decoration: none;
  color: black;
}

/* Navigation bar */

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0 4em;
}

.nav-logo {
  width: 100px;
  padding: 12px;
}

.nav-bar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}

.nav-bar li {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  padding: 20px;
  margin: 0 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Header section */

header {
  max-width: 1080px;
  margin: 0 auto;
  padding: 3em 4em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #495E57;
  color: white;
}

.header-info {
  flex: 60%;
  width: 15em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1em;
}

.header-info h1 {
  color: #F4CE14;
}

.header-info p {
  width: 240px;
}

.header-image {
  flex: 40%;
  text-align: center;
}

.header-image img {
  width: 14em;
  height: 14em;
  border-radius: 16px;
}

/* Main section */
main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 4em;
}

.main-header, .main-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.food-item {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 400px;
  text-align: left;
  padding: 16px;
  border-radius: 16px;
  background-color: #EDEFEE;
  margin-bottom: 1em;
}

.food-item img {
  width: 100%;
  max-height: 140px;
}

.food-item-header {
  display: flex;
  justify-content: space-between;
}

.food-item-price {
  color: #F4CE14;
}

.food-item strong {
  margin-top: auto;
}